*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}


button, input , select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
} 


html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

main {
  height: 100vh;
  width: 100vw;
  
}

.instagram-bg {
  display: none;
}

.Container-do-form {
  border: 1px solid rgb(221, 220, 220);
  

  margin: 6rem auto  0;
  padding-bottom: 3rem;

  max-width: 40rem;
  max-height: 77vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.Container-do-form .insta-logo {
  margin: 5rem;
}

.Container-do-form .form form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

form input {
  border: 1px solid rgb(211, 211, 211);
  border-radius: 1px;
  padding: 1.3rem;
  width: 30rem;

  background-color: rgba(245, 245, 245, 0.904);
  
}

form  button {
  padding: 0.8rem;
  background-color:#0094f657;
  cursor: pointer;
  
  
  color: white;
  font-weight: bolder;
  border-radius: 4px;
  font-size: 1.6rem;

  
}

form button:hover {
  background-color:#0094f6;
  transition: all .5s ease-in;
}

.Container-do-form .or {
  margin: 1.5rem 0;
  font-size: 1.6rem;
  color: rgb(167, 158, 158);
  position: relative;
}

.Container-do-form .or span::before,
.Container-do-form .or span::after  {
  position: absolute;
  content: '';
  height: 1px;
  width: 120px;
  background: rgba(167, 158, 158, 0.315);;
  bottom: 50%;
  right: 45px;
}

.Container-do-form .or span::after {
  left: 45px;
}

.Container-do-form .links-account {
  display: flex;
  flex-direction: column;
  gap: 2.6rem;

  text-align: center;
  margin-top: 2.1rem;
}

.links-account .fb > a:nth-child(2){
  display: flex-inline;
  margin-left: 4px;
  font-size: 1.6rem;
  color: #385185;
  font-weight: 700;
}


.links-account > a:nth-child(2) {
  color: #385185;
  font-size: 1.3rem;
  font-weight: 700;
}


.new-account {
  border: 1px solid rgb(221, 220, 220);
  

  margin: 1.5rem auto;

  max-width: 40rem;
  height: 7rem;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.6rem;
}

.new-account a {
  color: #0094f6;
  font-weight: 700;
}


.get-app {
  margin: 2.5rem auto;

  max-width: 40rem;
  height: 10rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  font-size: 1.6rem;
}

.get-app img {
  width: 40%;
}


@media (min-width:850px) {
  main {
    display: flex;
    justify-content: space-evenly;
    margin: 100px -100px;
  }

  .instagram-bg {
    display: block;
    
  }

  .instagram-bg img {
    background-size: cover;
    width: 100%;
  }

  .instagram-container .Container-do-form {
    width: 40rem;
  }

  
}


@media (min-width:1120px) {
  .instagram-bg img {
    width: 70%;
  }
}